
header {
    background-color: #3469db;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    position: fixed !important;
    top: 0;
    z-index: 100;
    padding: 1rem 1rem;
    width: 100%;
}


header .nav-links li .btn-login {
    background-color: white !important;
    color: #3469db !important;
    transition: all 0.3s ease-in-out;
}

header .nav-links li .btn-login:hover {
    background-color: transparent !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.chat-container {
    margin-top: 10rem;
}